& when (@media-common =true) {
    h1 {
        .lib-visually-hidden();
    }

    .section.section__slider {
        padding-bottom: 30px;
    }

    #maincontent {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    .section {
        padding-bottom: 30px;

        h2 {
            .lib-font-size(24);
            font-weight: @font-weight__semibold;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: @color-maksym__main-black;
        }

        p {
            .lib-font-size(14);
            line-height: 22px;
            font-weight: @font-weight__light;
            letter-spacing: 1px;
            color: @color-maksym__main-gray;
        }

        button {
            .lib-font-size(14);
            line-height: 22px;
            font-weight: @font-weight__light;
            letter-spacing: 1px;
            color: @color-maksym__main-black;

            &:hover,
            &:focus {
                color: inherit;
            }
        }

        &__title {
        }
    }

    /* HEADER */

    .header {
        &.content {
            .lib-vendor-prefix-display(flex);
        }
        .header__sub-wrapper {
            .lib-vendor-prefix-display(flex);
        }
        .navigation {
            background-color: @color-maksym__white;
            .mega-menu__inner-list.submenu {
                background-color: @color-maksym__main-black;
            }
            a {
                .ui-menu-icon {
                    span {
                        color: @color-maksym__main-black;
                        .lib-font-size(14);
                        font-weight: @font-weight__regular;
                        text-transform: uppercase;
                    }
                    &:hover,
                    &:focus {
                        span {
                            color: @color-maksym__main-gray;
                        }
                    }
                    .ui-menu-icon {
                        display: none;
                        &::after {
                            position: absolute;
                            right: 0;
                        }
                    }
                    .level0 .submenu a:hover,
                    .level0 .submenu a.ui-state-focus {
                        background-color: @color-maksym__main-black;
                    }
                }
            }
            .level0 .submenu li.parent > a > .ui-menu-icon:after {
                .lib-font-size(24);
                font-weight: @font-weight__heavier;
                position: absolute;
                right: 0;
            }
            .submenu.level0,
            .submenu.level1 {
                background-color: @color-maksym__main-black;
                color: @color-maksym__main-gray;
                .ui-menu-item-wrapper {
                    span {
                        color: @color-maksym__main-gray;
                    }
                }
            }
            .level0.parent > .level-top > .ui-menu-icon {
                display: none;
            }
            .level-top.ui-menu-item-wrapper {
                color: @color-maksym__main-black;
                text-transform: uppercase;
                .lib-font-size(14);
                font-weight: @font-weight__regular;
            }
            .level-top.ui-menu-item-wrapper.ui-state-active {
                &:hover,
                &:focus {
                    background: @color-maksym__white;
                    color: @color-maksym__main-gray;
                }
            }
            .ui-menu-item-wrapper {
                font-weight: @font-weight__regular;
            }
            .ui-menu-item-wrapper.ui-state-active {
                &:hover,
                &:focus {
                    background: @color-maksym__main-black;
                    color: @color-maksym__main-gray;
                }
            }
            .submenu li {
                height: 36px;
                &::before {
                    display: block;
                    content: " ";
                    position: absolute;
                    left: 38px;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: @color-maksym__white;
                    transition: all 0.4s ease 0s;
                }

                .mega-menu__inner-link {
                    position: absolute;
                    left: 18px;
                    transition: all 0.4s ease 0s;

                    .ui-menu-icon {
                        &:after {
                            .lib-font-size(24);
                            font-weight: @font-weight__heavier;
                        }
                    }
                    &::before {
                        display: block;
                        content: " ";
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        opacity: 0;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: @color-maksym__white;
                        transition: all 0.4s ease 0s;
                    }
                    &:hover,
                    &:focus {
                        left: 33px;
                        &::before {
                            left: 0px;
                            opacity: 1;
                        }
                    }
                }
            }
            /* menu  ARM CHAIR*/
            .mega-menu {
                &__item.mega-menu__arm-chair {
                    .mega-menu__inner-list[data-menu="menu-2"] {
                        position: absolute;
                        left: 5% !important;
                        transform: translateX(-50%);
                        width: 1280px;
                        .ui-menu-item-wrapper {
                            padding: 40px 30px;
                            background-color: @color-maksym__main-black;
                        }
                    }
                    .mega-menu__top-block {
                        padding-bottom: 30px;
                        &__item {
                            [data-content-type="html"] {
                                .lib-vendor-prefix-display(flex);
                                .lib-vendor-box-align (center);
                            }
                            h6 {
                                text-transform: none;
                                color: @color-maksym__white;
                                .lib-font-size(17);
                                margin: 0;
                                font-weight: @font-weight__semibold;
                            }
                            p {
                                margin: 0;
                                color: @color-maksym__main-gray;
                                .lib-font-size(14);
                                font-weight: @font-weight__regular;
                                line-height: @line-height__l;
                            }
                            em {
                                width: 45px;
                                height: 50px;
                                .lib-font-size(16);
                                text-align: center;
                                line-height: 50px;
                                color: @color-maksym__main-black;
                                background: @color-maksym__white;
                                padding-left: 5px;
                                border-radius: 100%;
                                display: inline-block;
                            }
                            .pull-left {
                                margin-right: 15px;
                            }
                        }
                        .mega-menu__top-divider {
                            display: contents;
                            hr {
                                margin: 0;
                            }
                        }
                    }
                    .mega-menu__bottom-block {
                        &__posters {
                            a {
                                position: static;
                                background: none;
                                &::before {
                                    display: none;
                                }
                            }
                        }

                        &__posters__list {
                            .lib-vendor-prefix-display(flex) !important;
                            width: 100%;
                        }
                        &__posters__img {
                            max-width: 100%;
                            height: auto;
                            border: 0;
                            vertical-align: middle;
                        }
                        .sub-menu {
                            &__main-link {
                                span {
                                    text-transform: uppercase;
                                    .lib-font-size(14);
                                    font-weight: @font-weight__semibold;
                                    letter-spacing: 0.25px;
                                    line-height: 14px;
                                }
                            }
                            &__main-link,
                            &__child-link {
                                a {
                                    position: relative;
                                    &::before {
                                        display: block;
                                        content: " ";
                                        position: absolute;
                                        left: 0px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        opacity: 0;
                                        width: 7px;
                                        height: 7px;
                                        border-radius: 50%;
                                        background-color: @color-maksym__white;
                                        transition: all 0.4s ease 0s;
                                    }
                                    &:hover,
                                    &:focus {
                                        background: none;
                                        &::before {
                                            opacity: 1;
                                        }
                                        span {
                                            left: 20px;
                                            text-decoration: underline;
                                        }
                                    }
                                    span {
                                        position: absolute;
                                        left: 0px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        text-decoration: none;
                                        transition: all 0.4s ease 0s;
                                        color: @color-maksym__main-light-gray;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .header__user {
            .lib-vendor-prefix-display(flex);
            list-style: none;
            li {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);
                margin-bottom: 0;
                &:not(:last-child) {
                    margin-right: 16px;
                }
                a {
                    .lib-font-size(12);
                    font-weight: @font-weight__light;
                    text-transform: uppercase;
                    color: @color-maksym__main-black;
                    &:hover,
                    &:focus {
                        color: @color-maksym__main-gray;
                    }
                }
            }
            .field {
                position: absolute;
            }
            .block-search {
                width: 20px;
                .control {
                    padding: 0;
                }
                form {
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-box-align(center);
                }
                .label:before {
                    .lib-font-size(20);
                    margin: 0;
                }
                .form.minisearch {
                    input {
                        position: absolute;
                        width: 368px;
                        .lib-font-size(16);
                        left: -360px;
                        scale: 0;
                        transition: all 0.4s ease 0s;
                    }
                    &.active {
                        input {
                            z-index: 1;
                            scale: 1;
                        }
                    }
                }
            }
            .wishlist {
                a {
                    .lib-icon-font(
                    @_icon-font-content: @icon-flag,
                    @_icon-font-size: 24px,
                    @_icon-font-text-hide: true
                    );
                }
            }
            .minicart-wrapper {
                a {
                    &::before {
                        .lib-visually-hidden();
                    }
                }
                margin: 0;
            }
        }
    }

    /* SECTION__SLIDER */

    .section__slider {
        max-width: 1920px;

        .slider {
            &__title {
                .lib-visually-hidden();
            }

            .pagebuilder-slide-wrapper {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);
                justify-content: flex-end;
            }

            .pagebuilder-overlay {
                max-width: 50%;
                margin-right: 50%;
            }

            [data-element="content"] {
                padding-left: 17px;
            }

            .slick-dots {
                position: absolute;
                bottom: 0;

                button {
                    width: 10px;
                    height: 10px;
                    border-radius: 0;
                    border: 1px solid @color-maksym__main-black;
                }
            }
        }
    }

    /* SECTION__CATEGORIES*/
    .section__categories {
        .categories {
            &__title {
                .lib-visually-hidden();
            }
        }

        [data-content-type="column-line"] {
            .categories__item {
                &:nth-child(odd) {
                    margin-left: 15px 15px 15px 0;
                }

                &:nth-child(even) {
                    margin-right: 15px 0 15px 15px;
                }
            }
        }

        [data-appearance="collage-right"]
            .pagebuilder-banner-wrapper
            .pagebuilder-overlay {
            max-width: 50%;
            height: 100%;
        }

        [data-element="wrapper"] {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
        }

        .pagebuilder-overlay {
            padding-left: 0;

            p {
                font-style: italic;
            }
        }

        button {
            padding-left: 0;
        }
    }

    /* OUR__PRODUCTS */

    .section__our-products {
        .product-items {
            .slick-arrow {
                width: 30px;
                height: 30px;

                .lib-font-size(12);
                font-weight: @font-weight__light;
                text-transform: uppercase;

                &::before {
                    .lib-vendor-prefix-display(none);
                }
            }

            .slick-next {
                position: absolute;
                top: 0;
                right: 0;

                &::before {
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-box-align(center);
                    content: "|";
                }
            }

            .slick-prev {
                position: absolute;
                top: 0;
                right: 0;
                overflow: hidden;
            }
        }

        .product-item-photo {
            width: 100%;
        }

        .product-item-name {
            text-align: center;
        }

        .price-box {
            text-align: center;
        }

        .action.tocart.primary {
            .lib-font-size(14);
            color: @color-maksym__main-black;
            background: none;
            border: none;
            text-transform: uppercase;
            text-decoration: underline;
        }

        .product-item {
            position: relative;
            overflow: hidden;

            &:hover,
            &:focus {
                .actions-primary {
                    left: 82px;
                }

                .price {
                    right: -90px;
                }

                .actions-secondary {
                    bottom: 160px;
                }
            }
        }

        .actions-primary {
            position: absolute;
            bottom: -4px;
            left: -130px;
            transition-property: left;
            transition-duration: 0.4s;
        }

        .price {
            position: absolute;
            bottom: 0px;
            right: 120px;
            transition-property: right;
            transition-duration: 0.4s;
        }

        .actions-secondary {
            position: absolute;
            bottom: -160px;
            left: 120px;
            z-index: 1;
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            .lib-vendor-box-align(center);
            justify-content: center;
            width: 60px;
            height: 160px;
            background-color: @color-maksym__white;
            transition-property: bottom;
            transition-duration: 0.4s;
        }
    }

    /* SECTION__SALE*/
    .section__sale {
        p {
            color: @color-maksym__main-black;
        }

        .sale__banner {
            .pagebuilder-banner-wrapper
                .pagebuilder-overlay:not(.pagebuilder-poster-overlay) {
                width: 100%;
            }

            [data-element="wrapper"] {
                .lib-vendor-prefix-display(block);
                width: 100%;
                margin: 0%;

                .pagebuilder-banner-wrapper
                    .pagebuilder-overlay:not(.pagebuilder-poster-overlay) {
                    width: 100%;
                }
            }

            .pagebuilder-overlay {
                .lib-vendor-prefix-display(block);
                width: 100%;
                height: 100%;
                margin: 0;

                &:not(.pagebuilder-poster-overlay) {
                    width: 100%;
                }

                .pagebuilder-collage-content {
                    width: 100%;
                    .lib-vendor-prefix-display(flex);
                    justify-content: space-between;
                }
            }

            [data-element="content"] {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(column);
                justify-content: center;
            }

            .pagebuilder-banner-wrapper .pagebuilder-banner-button {
                margin: 0;
            }
        }

        .pagebuilder-banner-wrapper
            .pagebuilder-overlay:not(.pagebuilder-poster-overlay) {
            max-width: 100%;
        }
    }

    .sale {
        &__title {
            .lib-visually-hidden();
        }
    }

    /* GROUP__PRODUCTS */
    .section__group-products {
        .group-products__title {
            .lib-visually-hidden();
        }

        h3.group-products__sub-title {
            text-transform: uppercase;
            letter-spacing: 1px;
            .lib-font-size(18);
            font-weight: @font-weight__semibold;
        }

        .slick-track {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            margin: 0;
            width: 100%;
        }

        .product-items {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .product-item {
            width: 100%;
        }

        .product-item-info {
            .lib-vendor-prefix-display(flex);
        }

        .product-item-photo {
            width: 90px;
        }

        .product-item-actions {
            .lib-vendor-prefix-display(none);
        }

        .product-item-link,
        .product-item-link:visited {
            .lib-font-size(14);
            font-weight: @font-weight__regular;
            line-height: 17px;
        }

        .price {
            .lib-font-size(18);
            font-weight: @font-weight__bold;
            line-height: 22px;
        }

        .pagebuilder-column
            [data-content-type="products"]
            .block.widget
            .products-grid
            .widget-product-grid.product-items
            .product-item {
            width: 100%;
        }

        .product-item-details {
            margin-left: 18px;
        }
    }

    /* SECTION__BLOG */

    .section__blog {
        ul.post-list {
            .lib-vendor-prefix-display(flex);

            a.post-item-link {
                color: @color-maksym__main-black;
                .lib-font-size(14);
                font-weight: @font-weight__semibold;
                text-transform: uppercase;
                line-height: 1.5;
            }

            .post-posed-date {
                color: @color-maksym__main-gray;
                .lib-icon-font(@icon-calendar,
                    @_icon-font-size: 28px);
                .label {
                    .lib-visually-hidden();
                }
                .value {
                    .lib-font-size(13);
                    margin-bottom: 10px;
                    font-style: italic;
                    font-weight: @font-weight__hairline;
                }
            }
            .blog__text {
                color: @color-maksym__main-gray;
                .lib-font-size(14);
                font-weight: @font-weight__light;
                line-height: 22px;
            }
        }
    }

    /* SECTION__BRANDS */
    .section__brands {
        .row-full-width-inner {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            .lib-vendor-box-align(center);
        }

        .brands__divider {
            width: 100%;
        }

        .row-full-width-inner {
            position: relative;
        }

        .brands {
            &__title {
                position: absolute;
                top: 5px;
                z-index: 1;
                background-color: @color-maksym__white;
                margin: 0;

                padding: @indent__xs;
                line-height: 30px;
                .lib-font-size(26);
                font-weight: @font-weight__heavier;
                text-transform: capitalize;
            }

            &__item {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);
                .lib-vendor-prefix-flex-direction(column);
            }

            &__image {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(column);

                width: 110px;

                [data-element="caption"] {
                    &:hover,
                    &:focus {
                        color: @color-maksym__main-gray;
                    }
                }
            }
        }
    }

    /* SECTION__NEWSLETTER */

    .section__newsletter {
        padding: 0;
        background-color: @color-maksym__main-light-gray;
        .newsletter__wraper {
            div {
                width: 50%;
                p {
                    width: 100%;
                }
                .content,
                form {
                    width: 100%;
                }
            }
            .newsletter__sub-title {
                width: 100%;
            }
            .lib-vendor-prefix-display(flex);
            justify-content: space-between;
            .lib-vendor-box-align(center);
            margin-left: auto;
            margin-right: auto;
            max-width: 1280px;
            width: 100%;
        }
        .block.newsletter {
            width: 50%;
            margin: 0;
            input {
                display: inline-block;
                width: 100%;
                background: transparent;
                border: 1px solid @color-maksym__main-gray;
                height: 49px;
                line-height: 49px;
                color: @color-maksym__main-gray;
                .lib-font-size(14);
                padding-left: 20px;
                padding: 0 0 0 20px;
                margin: 0;
            }
            button {
                padding: 17px 35px;
                border: 0;
                border-radius: 0;
                margin: 0;
                color: @color-maksym__white;
                background: @color-maksym__main-black;
                font-style: normal;
                .lib-font-size(14);
                font-weight: @font-weight__regular;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            .block.newsletter .action.subscribe {
                border-radius: 0;
            }
        }
        .block.newsletter {
            .field {
                .control:before {
                    display: none;
                }
            }
        }
        .block.newsletter {
            .form.subscribe {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);
                width: 100%;
            }
        }
        .block.newsletter {
            .field.newsletter {
                max-width: 46%;
            }
        }
    }

    /* FOOTER */
    div.footer.content {
        max-width: 100%;
        margin: 0;
        border: 0;
    }
    .footer {
        h3 {
            margin-bottom: 40px;
            .lib-font-size(16);
            font-weight: @font-weight__heavier;
            line-height: 16px;
            text-transform: uppercase;
        }

        .footer__links-thumb__sub-list__item {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
            position: relative;
            padding-bottom: 15px;
            height: 22px;
            &:hover,
            &:focus {
                &::after {
                    opacity: 1;
                }
                .footer__links-thumb__sub-list__link {
                    left: 15px;
                    color: @color-maksym__main-black;
                }
            }
            &::after {
                display: block;
                opacity: 0;
                content: " ";
                width: 7px;
                height: 7px;
                margin-right: 10px;
                border-radius: 50%;
                background-color: @color-maksym__main-black;
                transition: all 0.4s ease 0s;
            }
        }
        .footer__links-thumb__sub-list__link {
            position: absolute;
            left: 0;
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
            text-decoration: none;
            color: @color-maksym__main-gray;
            transition: all 0.4s ease 0s;
        }

        .footer-copyright__list {
            .lib-vendor-prefix-display(flex);
        }
        .footer-copyright__item {
            padding: 0 20px 0 5px;
            a {
                .lib-font-size(12);
                text-transform: uppercase;
                color: @color-maksym__main-gray;
                letter-spacing: 1px;
                transition: all 0.4s ease 0s;
                &:hover,
                &:focus {
                    text-decoration: none;
                    color: @color-maksym__main-black;
                }
            }
        }
        .footer-social {
            .lib-vendor-prefix-display(flex);
            justify-content: flex-end;
            p {
                padding-right: 30px;
                text-transform: uppercase;
                margin: 0;
                color: @color-maksym__main-gray;
            }
        }
        .footer-social__list {
            .lib-vendor-prefix-display(flex);
            .footer-social__item {
                padding-right: 20px;
            }
            .footer-social__link {
                &.behance::before {
                    display: block;
                    content: " ";
                    background-color: inherit;
                    background-image: url("@{baseDir}images/behance.svg");
                    width: 16px;
                    height: 16px;
                    background-size: contain;
                }
                &.facebook::before {
                    display: block;
                    content: " ";
                    background-image: url("@{baseDir}images/facebook.svg");
                    width: 16px;
                    height: 16px;
                    background-size: contain;
                }
                &.google::before {
                    display: block;
                    content: " ";
                    background-image: url("@{baseDir}images/google.svg");
                    width: 16px;
                    height: 16px;
                    background-size: contain;
                }
                &.linkedin::before {
                    display: block;
                    content: " ";
                    background-image: url("@{baseDir}images/skype.svg");
                    width: 16px;
                    height: 16px;
                    background-size: contain;
                }
                &.twitter::before {
                    display: block;
                    content: " ";
                    background-image: url("@{baseDir}images/twitter.svg");
                    width: 16px;
                    height: 16px;
                    background-size: contain;
                }
            }
        }
    }
}
